<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phs.mapper.DiseaseMapper">
    <resultMap id="RM_DiseaseVo" type="com.phs.entity.DiseaseEntity">
        <result column="id" property="id"/>
        <result column="kind_id" property="kindId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="image" property="image"/>
    </resultMap>

    <resultMap id="DiseaseKindVo" type="com.phs.entity.DiseaseKindEntity">
        <result column="id" property="id"/>
        <result column="kind_name" property="kindName"/>
    </resultMap>

    <select id = "getDiseaseByKindId" resultMap="RM_DiseaseVo">
        select *
        from phs_disease
        where kind_id=#{kindId}
    </select>

    <select id = "getDiseaseById" resultMap="RM_DiseaseVo">
        select *
        from phs_disease
        where id=#{id}
    </select>

    <select id = "getAllDiseaseName" resultType="String">
        select name
        from phs_disease
    </select>

    <insert id = "insertDisease" parameterType="DiseaseEntity">
        insert into phs_disease(
            kind_id,
            name,
            description,
            image
        )values (
                    #{kindId},
                    #{name},
                    #{description},
                    #{image}
                )
    </insert>

    <delete id = "deleteDisease" parameterType = "int">
        delete from phs_disease
        where id=#{id}
    </delete>

    <update id = "updateDisease" parameterType = "DiseaseEntity">
        update phs_disease
        <set>
             kind_id = #{kindId},
             name = #{name},
             description = #{description},
             image = #{image}
        </set>
        where id=#{id}
    </update>

    <select id = "getAllDiseaseKind" resultMap="DiseaseKindVo">
        select id, kind_name
        from phs_disease_kind
    </select>

</mapper>