<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phs.mapper.QuizMapper">
    <resultMap id="RM_QuizVo" type="com.phs.entity.QuizEntity">
        <result column="id" property="id"/>
        <result column="disease_id" property="disease_id"/>
        <result column="question" property="question"/>
        <result column="choice_list" property="choice_list"/>
        <result column="answer" property="answer"/>
    </resultMap>

    <select id = "getQuizByDiseaseId" resultMap="RM_QuizVo">
        select *
        from phs_quiz
        where disease_id=#{disease_id}
    </select>

    <select id = "getQuizById" resultMap="RM_QuizVo">
        select *
        from phs_quiz
        where id=#{id}
    </select>

    <insert id="insertQuiz" parameterType="QuizEntity">
        insert into phs_quiz(
            disease_id,
            question,
            choice_list,
            answer
        )values(
            #{disease_id},
            #{question},
            #{choice_list},
            #{answer}
               )
    </insert>

    <update id="updateQuiz" parameterType="QuizEntity">
        update phs_quiz
        <set>
            disease_id = #{disease_id},
            question = #{question},
            choice_list = #{choice_list},
            answer = #{answer}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteQuiz" parameterType="int">
        delete from phs_quiz
        where id = #{id}
    </delete>

</mapper>