<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phs.mapper.UserMapper">
    <resultMap id="UserVo" type="com.phs.entity.UserEntity">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>

    <select id = "getAllUser" resultMap="UserVo">
        select *
        from phs_user
    </select>

    <select id = "getAllUserName" resultType="String">
        select user_name
        from phs_user
    </select>

    <insert id = "insertUser" parameterType="UserEntity">
        insert into phs_user(
                             user_name,
                             password,
                             role
        )values (
                 #{userName},
                 #{password},
                 #{role}
        )
    </insert>


</mapper>