<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>

</head>
<body class="white-bg">
<header class="codrops-header">
    <h1>编辑病种</h1>
    <p>Update Disease</p>
    <a href="../diseaseManage" style="text-align: center ">返回病种管理</a>
</header>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form id="form-disease-add" action="/api/disease/add" method="POST" >

        <div class="form-group">
            <label class="col-sm-4 control-label">病种类型：</label>
            <div class="col-sm-8">
                <select id="kind" class="form-control select2-multiple">
                    <option th:name="kindId" th:each="diseaseKind:${diseaseKinds}" th:value="${diseaseKind.id}" th:text="${diseaseKind.kindName}" th:selected="${diseaseKind.flag}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">病种名称：</label>
            <div class="col-sm-8">
                <input class="form-control" id="name" name="name" type="text" placeholder="请输入病种名称" th:field="*{disease.name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">病种描述：</label>
            <div class="col-sm-8">
                <input class="form-control" id="description" name="description" type="text" placeholder="请输入病种描述" th:field="*{disease.description}"/>
            </div>
        </div>
        <input type="file" id="files" name="files" multiple="multiple"></input>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            </div>
        </div>
    </form>

</div>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    function submitHandler() {
        // var data = $("#form-disease-add").serializeArray();
        var fd = new FormData();
        var id = [[${disease.id}]];
        fd.append("id", id);
        fd.append("name", $("#name").val())
        fd.append("description", $("#description").val())
        console.log(fd);
        var myselect=document.getElementById("kind");
        var index=myselect.selectedIndex ;
        var diseaseKind = myselect.options[index].value;
        // data.push({"name": "kindId", "value": diseaseKind});
        fd.append("kindId", diseaseKind);
        var files = document.getElementById("files").files;
        for(var i in files){
            fd.append("files", files[i]);
        }
        // fd.append("files", files[0]);
        console.log(fd);
        $.ajax({
            //几个参数需要注意一下
            contentType : false,
            type: "POST",//方法类型
            processData: false,
            // dataType: "multipart/form-data",//预期服务器返回的数据类型
            url: "/api/disease/update" ,//url
            data:fd,
            statusCode : {
                200: function(result){
                    alert(result);
                    window.location.href = "../diseaseManage";
                },
                400: function(result){
                    alert(result.responseText);
                    window.location.href = "../diseaseManage";
                }
            }
        });
    }
</script>
</body>
</html>