<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>

</head>
<body class="white-bg">
<header class="codrops-header">
    <h1>编辑病种</h1>
    <p>Update Disease</p>
    <a href="../diseaseManage" style="text-align: center ">返回病种管理</a>
</header>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form id="form-disease-add" action="/api/disease/add" method="POST" >

        <div class="form-group">
            <label class="col-sm-4 control-label">病种类型：</label>
            <div class="col-sm-8">
                <select id="kind" class="form-control select2-multiple">
                    <option th:name="kindId" th:each="diseaseKind:${diseaseKinds}" th:value="${diseaseKind.id}" th:text="${diseaseKind.kindName}" th:selected="${diseaseKind.flag}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">病种名称：</label>
            <div class="col-sm-8">
                <input class="form-control" id="name" name="name" type="text" placeholder="请输入病种名称" th:field="*{disease.name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">病种描述：</label>
            <div class="col-sm-8">
                <input class="form-control" id="description" name="description" type="text" placeholder="请输入病种描述" th:field="*{disease.description}"/>
            </div>
        </div>
        <div>
            <br>
            <p >
                <img id="picture1" class="picture1" style="width: 100px;height: 100px;object-fit: cover;" alt="点击选择新图片1" th:src="${#arrays.length(imgUrls) >= 1?imgUrls[0]:''}"/>
            </p>
            </br>
            <form id="f1">
                <input type="file" name="files" onchange="imgChange1(event)" id="img1" multiple="multiple" style="display: none"/>
            </form>
        </div>
        <div>
            <br>
            <p >
                <img id="picture2" class="picture2" style="width: 100px;height: 100px;object-fit: cover;" alt="点击选择新图片2" th:src="${#arrays.length(imgUrls) >= 2?imgUrls[1]:''}" />
            </p>
            </br>
            <form id="f2">
                <input type="file" name="files" onchange="imgChange2(event)" id="img2" multiple="multiple" style="display: none"/>
            </form>
        </div>
        <div>
            <br>
            <p >
                <img id="picture3" class="picture3" style="width: 100px;height: 100px;object-fit: cover;" alt="点击选择新图片3" th:src="${#arrays.length(imgUrls) >= 3?imgUrls[2]:''}" />
            </p>
            </br>
            <form id="f3">
                <input type="file" name="files" onchange="imgChange3(event)" id="img3" multiple="multiple" style="display: none"/>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            </div>
        </div>
    </form>

</div>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    function submitHandler() {
        // var data = $("#form-disease-add").serializeArray();
        var fd = new FormData();
        var id = [[${disease.id}]];
        fd.append("id", id);
        fd.append("name", $("#name").val())
        fd.append("description", $("#description").val())
        console.log(fd);
        var myselect=document.getElementById("kind");
        var index=myselect.selectedIndex ;
        var diseaseKind = myselect.options[index].value;
        // data.push({"name": "kindId", "value": diseaseKind});
        fd.append("kindId", diseaseKind);
        var img1 = document.getElementById("img1").files;
        var img2 = document.getElementById("img2").files;
        var img3 = document.getElementById("img3").files;
        if(img1[0]){
            fd.append("imgs", img1[0]);
        }else{
            fd.append("imgUrlArr", document.getElementById("picture1").getAttribute("src"));
        }
        if(img2[0]) {
            fd.append("imgs", img2[0]);
        }else{
            fd.append("imgUrlArr", document.getElementById("picture2").getAttribute("src"));
        }
        if(img3[0]) {
            fd.append("imgs", img3[0]);
        }else{
            fd.append("imgUrlArr", document.getElementById("picture3").getAttribute("src"));
        }
        fd.append("imgUrlArr", "");
        $.ajax({
            //几个参数需要注意一下
            contentType : false,
            type: "POST",//方法类型
            processData: false,
            // dataType: "multipart/form-data",//预期服务器返回的数据类型
            url: "/api/disease/update" ,//url
            data:fd,
            statusCode : {
                200: function(result){
                    alert(result);
                    window.location.href = "../diseaseManage";
                },
                400: function(result){
                    alert(result.responseText);
                    window.location.href = "../diseaseManage";
                }
            }
        });
    }

    function imgChange1(e) {
        console.info(e.target.files[0]);//图片文件
        console.log(e.target.value);//这个也是文件的路径和上面的dom.value是一样的
        var reader = new FileReader();
        reader.onload = (function (file) {
            return function (e) {
                $('.picture1').attr('src',this.result);
            };
        })(e.target.files[0]);
        reader.readAsDataURL(e.target.files[0]);
    }

    $('.picture1').click(function () {
        $("#img1").click();
    });

    function imgChange2(e) {
        console.info(e.target.files[0]);//图片文件
        console.log(e.target.value);//这个也是文件的路径和上面的dom.value是一样的
        var reader = new FileReader();
        reader.onload = (function (file) {
            return function (e) {
                $('.picture2').attr('src',this.result);
            };
        })(e.target.files[0]);
        reader.readAsDataURL(e.target.files[0]);
    }

    $('.picture2').click(function () {
        $("#img2").click();
    });

    function imgChange3(e) {
        console.info(e.target.files[0]);//图片文件
        console.log(e.target.value);//这个也是文件的路径和上面的dom.value是一样的
        var reader = new FileReader();
        reader.onload = (function (file) {
            return function (e) {
                $('.picture3').attr('src',this.result);
            };
        })(e.target.files[0]);
        reader.readAsDataURL(e.target.files[0]);
    }

    $('.picture3').click(function () {
        $("#img3").click();
    });

</script>
</body>
</html>